// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 // Defining a variable
 $gray: #F4F4F4;


 .answer {
   background-color: #FFFFE1;
   padding: 10px;
 }

  .question {
   background-color: #DEDEDE;
   padding: 10px;
 }

 a {
   color: grey;
   &:hover {
     color: black;
   }
 }
